ion-content ion-toolbar {
  --background: translucent;
}
.option-inputs-1 {
  display: flex;
  flex-direction: row;
}
.label-option-inputs-1 {
  font-size: 16px;
}

ion-select-option {
  font-size: smaller;
}

.numSorteado {
  text-align: center;
}
.conteudo{
  background-color: #4cadca !important;
  color: white;
  height:  auto;
}
ion-chip {
  background-color: white;
  color: #000;

  font-size: 25px !important;
}
.circle-button {
  margin-bottom: 25px !important  ;
  font-size: 30px;
  width: 50%;
  margin: 0 auto;
  width: 153px;
  height: 153px;
  color: white;
  background-color: rgb(116, 160, 255);
  border-radius: 50%;
}
.limpa {
  display: flex;
  flex-direction: row;
  flex-grow: initial;
  flex-wrap: wrap;
}